/* *RESET* */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *TYPE WRAPPER* */
.type-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
select {
    font-size: 1.2rem;
}

/* *ICONS WRAPPER* */
#icons-wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

/* *ICONS* */
i {
    font-size: 4rem;
}
.icon-orange {
    color: #ffa500;
}
.icon-green {
    color: #adff2f;
}
.icon-blue {
    color: #43ceff;
}